@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before,
.slick-next:before {
  color: gray;
  width: 40px;
}

.slick-prev,
.slick-next {
  margin-top: 30px;
  width: 80px;
  z-index: 20;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: light;
  }
}

body {
  background: #141619;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.025em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 2.25rem;
  letter-spacing: 0;
}
h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0;
}
h3 {
  padding: 20px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

section {
  width: 90%;
  margin: 0 auto;
}
article {
  font-size: 14px;
  line-height: 20px;
}

.social-icon {
  font-size: 1.5rem;
  color: #fffafa;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  article {
    font-size: 16px;
    line-height: 24px;
  }

  section {
    width: 80%;
  }
  h1 {
    font-size: 60px;
    line-height: 64px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
    padding: 40px 0;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
  }
  h5 {
    font-size: 18px;
    line-height: 28px;
  }
  .social-icon {
    font-size: 2rem;
  }
}
